body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 200px;
  display: flex;
  border: 1px solid #979797;
  margin-bottom: 60px;
}

.header_left {
  width: 30%;
  background-color: #0548D2;
}
.header_center {
  width: 40%;
  background-color: #FFF;
}
.header_center h1 {
  margin: 0;
  padding: 85px 90px;
  font-size: 24px;
  text-align: center;
}

.header_right {
  width: 30%;
  background-color: #000;
}

.container {
  height: 1000px;
  width: 90%;
  margin: 0 auto;
  
}

.footer {
  height: 300px;
  width: 100%;
  background-image: url("./images/footer_image.png");
  background-size: cover;
}

.footer p {
  padding: 250px 0 10px 0;
  text-align: center;
  color: #FFF;
}
